@using App.Resources.Views.Shared
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocalizationOptions


@{
    var cultureItems = LocalizationOptions.Value.SupportedUICultures!
        .Select(c => new { Value = c.Name, Text = c.NativeName });
}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        @_Layout.Language
    </a>
    <ul class="dropdown-menu">
        @foreach (var culture in cultureItems)
        {
            <li>

                <a class="dropdown-item"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="SetLanguage"
                   asp-route-culture="@culture.Value"
                   asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString">

                    @culture.Text
                </a>
            </li>
        }
    </ul>
</li>